<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a Ticket Turno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Bienvenidos.css') }}">
</head>
<body>
    <div class="formulario">
        <h1>Bienvenidos</h1>
        <div class="button-container">
            <button onclick="location.href='{{ url_for('login_admin') }}'">Administrador</button>
            <button onclick="location.href='{{ url_for('index') }}'">Usuario</button>
        </div>        
    </div>
</body>
</html>
